<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Config><UIConfig><HideVersion>false</HideVersion><SkipLaunch>true</SkipLaunch><HidePIIScreen>false</HidePIIScreen><showMainScreen>true</showMainScreen><showDownloadOptionScreen>true</showDownloadOptionScreen><ShowInstallOptions>true</ShowInstallOptions><SkipAccLaunch>true</SkipAccLaunch></UIConfig></Config>